{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home-hero-section section">
    <div class="home-hero-wrapper container-col">
        <div class="home-hero-container container-row">
            <div class="heading-container container-col align-start">
                <h3 class="sub-heading white-text">Let the experts help you</h3>
                <h2 class="heading white-text">
                    Taking care of your real estate needs with honesty & integrity
                    is what we do best.
                </h2>
                <div class="btns-container container-row">
                    <a href="" class="btn btn-1">Get To Know Us</a>
                    <a href="" class="btn btn-2">Talk To Us</a>
                </div>
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}home-hero-2.png" alt="Home Image" class="img-100a">
            </div>
        </div>
    </div>
</section>

<section class="home-struggles-section home-section section">
    <div class="section-container container-row space-between">
        <div class="main-text-container container-col align-start">
            <h2 class="subheading white-text">
                Struggling to figure out the real estate market?
            </h2>
            <div class="text-container container-col">
                <div class="white-text">
                    The real estate market is complex and stressful to navigate. Our experienced team is here to guide you through every step of the process, providing personalized advice to make informed decisions. Let us make your real estate experience smooth and stress-free.
                </div>
                <div class="white-text">
                    At the McAtee Group, we understand the importance of finding the right home or the right buyer for your property. We take the time to listen to your needs and goals, and we work tirelessly to make the process as smooth and stress-free as possible.
                </div>
            </div>
            <a href="" class="btn btn-2">Talk To Us</a>
        </div>
        <div class="img-container box-shadow">
            <img src="{{ MEDIA_URL }}index-intro.png" alt="Man Stressed" class="img-100a">
        </div>
    </div>
</section>

<section class="home-struggles-section home-section section">
    <div class="section-container container-row space-between">
        <div class="img-container box-shadow">
            <img src="{{ MEDIA_URL }}index-choice.png" alt="Happy Couple" class="img-100a">
        </div>
        <div class="main-text-container container-col align-start">
            <h2 class="subheading white-text">
                We will help you make the right choice for you!
            </h2>
            <div class="text-container container-col hidden">
                <div class="white-text">
                    When it comes to choosing a real estate team to help you buy or sell your home, there's a lot at stake. You need someone who can navigate the often chaotic and stressful process with ease, and who genuinely cares about your future as much as you do. The McAtee Group cares as much about you as we do the property you are selling/buying.
                </div>
                <div class="white-text">
                    With years of experience in the real estate market, we know how to wrangle the chaos and find the best possible outcome for our clients. Whether you're a first-time homebuyer or a seasoned investor, the McAtee Group is here to guide you every step of the way.
                </div>
            </div>
            <a href="" class="btn btn-1">Get To Know Us</a>
        </div>
    </div>
</section>

<section class="home-testimonials-section section">
    <div class="section-container container-col">
        <h2 class="subheading white-text">Don't just take our word for it</h2>

        <div class="card-container container-row">
            <div class="swipe-left swipe img-container">
                <img src="{{ MEDIA_URL }}left-arrow.png" alt="Swipe left" class="img-100a">
            </div>
            <div class="swipe-right swipe img-container">
                <img src="{{ MEDIA_URL }}left-arrow.png" alt="Swipe right" class="img-100a">
            </div>
            <div class="swipe-dots container-row">
                <div class="dot active"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>

            <div class="testimonial-card center card container-col">
                <div class="card-wrapper container-col justify-start">
                    <div class="white-text">
                        1We recently had the pleasure of working with the McAtee Group to sell our home and purchase a new one. From start to finish, the team was professional, knowledgeable, and responsive.
                    </div>
                    <div class="white-text">
                        They ensured a seamless, stress-free process with great attention to detail and local real estate expertise. We highly recommend McAtee Group for buying or selling in the area.
                    </div>
                    <div class="quote-img-1 quote-icon img-container">
                        <img src="{{ MEDIA_URL }}quote-icon.png" alt="Quotes" class="img-100a">
                    </div>
                    <div class="quote-img-2 quote-icon img-container">
                        <img src="{{ MEDIA_URL }}quote-icon.png" alt="Quotes" class="img-100a">
                    </div>
                    <div class="profile-img img-container">
                        <img src="{{ MEDIA_URL }}testimonial-1.png" alt="Profile" class="img-100a">
                    </div>
                </div>
            </div>

            <div class="testimonial-card right card container-col">
                <div class="card-wrapper container-col justify-start">
                    <div class="white-text">
                        2We recently had the pleasure of working with the McAtee Group to sell our home and purchase a new one. From start to finish, the team was professional, knowledgeable, and responsive.
                    </div>
                    <div class="white-text">
                        They ensured a seamless, stress-free process with great attention to detail and local real estate expertise. We highly recommend McAtee Group for buying or selling in the area.
                    </div>
                    <div class="quote-img-1 quote-icon img-container">
                        <img src="{{ MEDIA_URL }}quote-icon.png" alt="Quotes" class="img-100a">
                    </div>
                    <div class="quote-img-2 quote-icon img-container">
                        <img src="{{ MEDIA_URL }}quote-icon.png" alt="Quotes" class="img-100a">
                    </div>
                    <div class="profile-img img-container">
                        <img src="{{ MEDIA_URL }}testimonial-1.png" alt="Profile" class="img-100a">
                    </div>
                </div>
            </div>

            <div class="testimonial-card left card container-col">
                <div class="card-wrapper container-col justify-start">
                    <div class="white-text">
                        3We recently had the pleasure of working with the McAtee Group to sell our home and purchase a new one. From start to finish, the team was professional, knowledgeable, and responsive.
                    </div>
                    <div class="white-text">
                        They ensured a seamless, stress-free process with great attention to detail and local real estate expertise. We highly recommend McAtee Group for buying or selling in the area.
                    </div>
                    <div class="quote-img-1 quote-icon img-container">
                        <img src="{{ MEDIA_URL }}quote-icon.png" alt="Quotes" class="img-100a">
                    </div>
                    <div class="quote-img-2 quote-icon img-container">
                        <img src="{{ MEDIA_URL }}quote-icon.png" alt="Quotes" class="img-100a">
                    </div>
                    <div class="profile-img img-container">
                        <img src="{{ MEDIA_URL }}testimonial-1.png" alt="Profile" class="img-100a">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}