$white: #ffffff;
$gray-dark-1: #333333;
$gray-dark-2: #262626;
$gray-light-1: #f5f5f5;
$transparent-dark-1: #00000070;
$transparent-dark-2: #262626e3;
$transparent-light-1: #f5f5f59d;
$transparent-light-2: #f5f5f541;
$blue-1: #003e64;
$blue-1-tp: #003e6483;
$gold-1: #b17c28;
$gold-2: #bb993f;

$font-size: 1.5rem;
$subheading-size: 2rem;